In [44]:
import os
import numpy as np
import pandas as pd
from datetime import datetime
from binance.client import Client

In [2]:
api_key = os.environ.get('binance_api')
api_secret = os.environ.get('binance_secret_key')

In [3]:
client = Client(api_key, api_secret)

In [22]:
timestamp = client._get_earliest_valid_timestamp('BTCUSDT', '1m')
print(datetime.fromtimestamp(timestamp / 1000))

2017-08-18 03:00:00

In [23]:
bars = client.get_historical_klines('BTCUSDT', '1m', timestamp, limit=1000)

In [48]:
data = []
for bar in bars:
    temp = {
        "Time_open" : datetime.fromtimestamp(bar[0] / 1000),
        "Open" : bar[1],
        "High" : bar[2],
        "Low" : bar[3],
        "Close" : bar[4],
        "Volume" : bar[5],
        "Time_Close" : datetime.fromtimestamp(bar[6] / 1000),
        "Trades" : bar[8]
    }
    data.append(temp)

In [49]:
df = pd.DataFrame(data)

In [50]:
df

,Time_open,Open,High,Low,Close,Volume,Time_Close,Trades
0,2017-08-17 07:00:00,4261.48000000,4261.48000000,4261.48000000,4261.48000000,1.77518300,2017-08-17 07:00:59.999,3
1,2017-08-17 07:01:00,4261.48000000,4261.48000000,4261.48000000,4261.48000000,0.00000000,2017-08-17 07:01:59.999,0
2,2017-08-17 07:02:00,4280.56000000,4280.56000000,4280.56000000,4280.56000000,0.26107400,2017-08-17 07:02:59.999,2
3,2017-08-17 07:03:00,4261.48000000,4261.48000000,4261.48000000,4261.48000000,0.01200800,2017-08-17 07:03:59.999,3
4,2017-08-17 07:04:00,4261.48000000,4261.48000000,4261.48000000,4261.48000000,0.14079600,2017-08-17 07:04:59.999,1
...,...,...,...,...,...,...,...,...
1821622,2021-02-07 11:10:00,39394.43000000,39503.57000000,39390.83000000,39448.72000000,43.12243000,2021-02-07 11:10:59.999,1341
1821623,2021-02-07 11:11:00,39446.91000000,39499.98000000,39428.57000000,39485.56000000,31.97026000,2021-02-07 11:11:59.999,797
1821624,2021-02-07 11:12:00,39485.56000000,39529.43000000,39462.80000000,39502.45000000,52.60358900,2021-02-07 11:12:59.999,1208
1821625,2021-02-07 11:13:00,39501.45000000,39508.54000000,39454.62000000,39467.32000000,31.22262800,2021-02-07 11:13:59.999,903
1821626,2021-02-07 11:14:00,39467.32000000,39494.01000000,39465.32000000,39494.01000000,16.06983400,2021-02-07 11:14:59.999,377

In [51]:
df.to_csv('BTCUSDT.csv')

# Test

In [25]:
print(bars[0][0])
print(bars[-1][0])

1502942400000
1612689240000

In [32]:
np.size(bars)

21859524

In [36]:
21859524/60/24

15180.225

In [34]:
print(datetime.fromtimestamp(1502942400000 / 1000))
print(datetime.fromtimestamp(1612689240000 / 1000))

2017-08-17 07:00:00
2021-02-07 11:14:00